.content-nav {
    width:210px;
    height: calc(100vh - 37px);
    box-sizing: border-box;
    background-color:#515278;

    & > div {
        overflow-x: auto;
        height: calc(100% - 35px);
    }
    .panel-content {

        transition: height .5s;
        overflow: hidden;
    }

    input {
        box-sizing: border-box;
        width:100%;
        padding:.5rem;

        &:focus {
            outline: none;
        }
    }
    h3 {
         display:block;
         padding:.5rem;
         margin:0;
         background:#080924;;
         color:#fff;
         font-size: 1rem;
         font-weight: normal;
         cursor: pointer;
    }
    a {
         color: #fff;
         display:block;
         padding:.2rem;
         text-decoration: none;
         border-top: solid 1px #706f7e;
         font-size:0.9rem;
    }
    a:first-child{
        border-top:none;
    }
}