.content-nav {
    width:210px;
    height: calc(100vh - 37px);
    box-sizing: border-box;
    background-color:#515278;

    & > div {
        overflow-x: auto;
        height: calc(100% - 35px);
    }
    .panel-content {

        transition: height .5s;
        overflow: hidden;
    }

    input {
        box-sizing: border-box;
        width:100%;
        padding:.5rem;

        &:focus {
            outline: none;
        }
    }
    h3 {
         display:block;
         padding:.5rem;
         padding-right:1rem;
         margin:0;
         background:#080924;;
         color:#fff;
         font-size: 1rem;
         font-weight: normal;
         cursor: pointer;
    }
    a {
         color: #fff;
         display:block;
         padding:.2rem;
         text-decoration: none;
         border-top: solid 1px #706f7e;
         font-size:0.9rem;
    }
    a:hover {
        background: #706f7e;
    }
    a:first-child{
        border-top:none;
    }
    a[data-category] {
        text-align: right;
        padding-right: 1rem;
    }

    h3 span {
        float: right;
        display: block;
        font-size: 2rem;
        line-height: .5rem;
        transform: rotate(-90deg);
        transition: transform .5s;
        height: 16px;
        width: 10px;
        vertical-align: middle;
        pointer-events: none;
        margin-top: 2px;
    }
    h3.closed span {
         transform: rotate(90deg);
    }

}