$header-primary: #080924;
$secondary: #515278;
$secondary-alt: #51527899;
$font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;


body {
    margin:0;
    font-family: $font;
    font-size: 16px;
}

textarea,input {
    font-family: $font;
}

// General
@import 'mixins.scss';
@import 'grid.scss';
@import 'form.scss';

// Specific
@import 'nav.scss';
@import 'preview-block.scss';
@import 'content-nav.scss';
@import 'panel.scss';

@import '~leaflet/dist/leaflet.css';
@import '~@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';
.content-list {
    @include box;
    .row { margin: 0 1rem; }
}


// Overall component sizing
#map {
    width: calc(100vw);
    height: calc(100vh - 37px);
    margin:0;   
}
.content-nav {
    width:210px;
}
.panel.min {
    width: 31vw;
}

.menu-content {
    @include menu;
}

@media only screen and (min-width: 1921px) {
    .content-nav {
        width:280px;
    }
}




    .badge {
        @include badge;
    }
    .poi {
        @include badge;
        background-image: url(../images/map/marker-icon-2x-blue.png);
        background-repeat: no-repeat;
        background-size: 11px;
        background-position: 5px;
        
        padding-left: 22px;
       
        padding-right: .3rem;
        cursor: pointer;
    }

    

    textarea {
        width: 100%;
        line-height:1.3rem;
        font-size:1rem;
        min-height:120px;
    }


.campaign-item {
    display: flex;
    text-decoration: none;
    color:#000;
    border-bottom: 1px solid #ccc;
    margin-bottom:1rem;
    padding:1rem;
    padding-top:0;

    &:hover h2 {
        color:#000;
    }

    div { flex: 2;}
    ul { 
        flex: 1;
        margin: 0;
        background:#fafafa;
        border: solid 1px #ddd;
        padding:.6rem;
        border-radius: 3px;

        li {
            list-style: none;
        }

        strong {
            color:#555;
        }
    }
}



    button.add {
        margin: 0 auto;
        width: 200px;
        display: block;
    }
    button.editEntity {
        float:right;
    }


    .wrapper {
        display:flex;
    }

    .controls {
        text-align:center;
    }


.encounter {
    @import '~rpg-encounter/dist/encounter.css';

    #map {
        height: calc(100vh - 74px);
    }
}