$header-primary: #080924;
$secondary: #515278;
$secondary-alt: #51527899;

body {
    margin:0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

// General
@import 'mixins.scss';
@import 'grid.scss';
@import 'form.scss';

// Specific
@import 'nav.scss';
@import 'preview-block.scss';

.content-list {
    @include box;
    .row { margin: 0 1rem; }
}

#map {
    width: calc(100vw - 200px);
    height: calc(100vh - 37px);
    margin:0;   
}

.menu-content {
    @include menu;
}




    .panel {
        position: absolute;
        left:210px;
        top:37px;
        width: calc(100vw - 210px);
        height: calc(100vh - 37px);
        background: #fff;
        z-index: 999999;
        padding:1rem;
        box-sizing: border-box;
        overflow-x:auto;
        box-shadow: none;

        &.min {
            position: absolute;
            width: 31vw;
            min-width: 400px;
            height: calc(100vh - 110px);
            right:20px;
            left:auto;
            top:50px;
            box-shadow: 1px 1px 5px 2px #444;

            &.hide {
                display: none;
            }
        }

        .menu {
            float: right;
            @include threedotmenu;
            
        }

        .entity-menu {
            position: absolute;
            top:40px;
            right:20px;
            @include menu;
        }

        header {
            margin-bottom:1rem;
        }

        header h2 {
            margin-top:0;
            margin-bottom:.6rem;
        }


        .panel-block {

            .controls {
                border-bottom: solid 1px #000;
                text-align: right;
                padding: .4rem 0;
                margin-bottom: 1rem;
            }

            a {
                font-weight:bold;
                color:blue;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            img { width: 100%; cursor: pointer;}

            blockquote {
                background: #fdeec3;
                margin: 0;
                padding: .2rem;
                border-top: solid 3px #e09f61;
                border-bottom: solid 3px #e09f61;
                box-shadow: 1px 1px 2px 1px #ccc;
            }
            p, blockquote {
                margin-top:0;
                margin-bottom: 1rem;
             }
         }
    }



    .badge {
        @include badge;
    }
    .poi {
        @include badge;
        background-image: url(../images/map/marker-icon-2x-blue.png);
        background-repeat: no-repeat;
        background-size: 11px;
        background-position: 5px;
        
        padding-left: 22px;
       
        padding-right: .3rem;
        cursor: pointer;
    }

    

    textarea {
        width: 100%;
        line-height:1.3rem;
        font-size:1rem;
        min-height:120px;
    }

/*
padding:1rem;max-width:400px; margin:0 auto;
 */



.campaign-item {
    display: block;
    text-decoration: none;
    color:#000;
    border-bottom: 1px solid #ccc;
    margin-bottom:1rem;
    padding:1rem;
    padding-top:0;
}



    button.add {
        margin: 0 auto;
        width: 200px;
        display: block;
    }
    button.editEntity {
        float:right;
    }




    .wrapper {
        display:flex;
    }

    .content-nav {
        width:210px;
        height: calc(100vh - 37px);
        box-sizing: border-box;
        background-color:#515278;
        overflow-x: auto;
    }
    .content-nav input {
        box-sizing: border-box;
        width:100%;
        padding:.5rem;
    }
    .content-nav h3 {
         display:block;
         padding:.5rem;
         margin:0;
         background:#080924;;
         color:#fff;
         font-size: 1rem;
         font-weight: normal;
    }
    .content-nav a {
         color: #fff;
         display:block;
         padding:.2rem;
         text-decoration: none;
         border-top: solid 1px #706f7e;
         font-size:0.9rem;
    }
    .content-nav a:first-child{
        border-top:none;
    }



    .mainMenu {
        float:right;
        color: #fff;
        text-decoration: none;
        line-height: 36px;
        margin-right: 2rem;
    }
    .mainMenu::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }





    .controls {
        text-align:center;
    }