.bar {
    background: $header-primary;
    color: #fff;

    a {color:#fff;}
    h1 {
        font-size:1rem;
        display:inline-block;
        font-weight: normal;
        width:205px;
        box-sizing: border-box;
        padding:8px 1rem;
        margin:0;
        padding-right:0;
    }
    nav, span.menu {
        display:inline-block;
        font-size: 0;

        a {
            color:#fff;
            display:inline-block;
            border-right: solid 1px #444;
            border-left: solid 1px #444;
            padding:8px;
            text-decoration: none;
            font-size: 1rem;
            margin-left:-1px;
        }

        a.selected {
            background:#515278;
        }
    }

    .menu-content {
        @include menu;
        width:180px;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 9999990;
    }

    span.menu {float:right;}
    a.menu {
        float:right;
        color: #fff;
        text-decoration: none;
        line-height: 36px;
        margin-right: 2rem;
         cursor:pointer;
    }
    a.menu::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

}
 