body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.container {
  max-width: 960px;
  position: relative;
  margin: 0 2rem;
  padding: 2rem 0;
}

.row > div {
  margin-bottom: 2rem;
}

@media (min-width: 990px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    display: flex;
  }
  .row.wrap {
    flex-wrap: wrap;
  }
  .row.wrap > div {
    min-width: 250px;
  }

  .row + .row {
    margin-top: 1rem;
  }

  .row > div {
    flex: 1;
    margin: 10px;
    min-width: 0;
  }

  .row > div:first-child {
    margin-left: 0px;
  }

  .row > div:last-child {
    margin-right: 0px;
  }
}
.container h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container h2 {
  color: #555;
}

.form > div {
  padding: 0 1rem 0.8rem 1rem;
}
.form > div label {
  display: block;
  margin-bottom: 0.4rem;
}
.form > div input[type=text], .form > div input[type=email], .form > div input[type=password], .form > div textarea {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}
.form > div input[type=text].invalid, .form > div input[type=email].invalid, .form > div input[type=password].invalid, .form > div textarea.invalid {
  border-color: #dc3545;
}
.form > div span.errors {
  color: #dc3545;
  font-size: 0.9rem;
}
.form > div span.notice {
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #bee5eb;
  background-color: #d1ecf1;
}
.form > div span.warning {
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #ffeeba;
  background-color: #fff3cd;
}

.container .form {
  border: 1px solid rgba(8, 9, 36, 0.5);
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: 1rem;
  width: 66%;
}
.container .form header {
  background-color: #080924;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem;
  margin-bottom: 1rem;
}
.container .form header h2, .container .form header h1 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
}
.container .form footer {
  padding: 0 1rem 1rem 1rem;
  min-height: 2rem;
}

.panel .form div {
  padding-left: 0;
  padding-right: 0;
}

button, .button, input[type=submit] {
  background: #515278;
  border: none;
  padding: 0.6rem 1.4rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  line-height: 1rem;
  vertical-align: top;
  margin-bottom: 0.5rem;
}
button:hover, button:active, .button:hover, .button:active, input[type=submit]:hover, input[type=submit]:active {
  background: #636490;
}
button.full, .button.full, input[type=submit].full {
  width: 100%;
}
button.right, .button.right, input[type=submit].right {
  float: right;
}
button.cancel, .button.cancel, input[type=submit].cancel {
  background-color: #51527899;
}

textarea.uploadable {
  border: solid 2px blue;
}

.bar {
  background: #080924;
  color: #fff;
}
.bar a {
  color: #fff;
}
.bar h1 {
  font-size: 1rem;
  display: inline-block;
  font-weight: normal;
  width: 205px;
  box-sizing: border-box;
  padding: 8px 1rem;
  margin: 0;
  padding-right: 0;
}
.bar nav, .bar span.menu {
  display: inline-block;
  font-size: 0;
}
.bar nav a, .bar span.menu a {
  color: #fff;
  display: inline-block;
  border-right: solid 1px #444;
  border-left: solid 1px #444;
  padding: 8px;
  text-decoration: none;
  font-size: 1rem;
  margin-left: -1px;
}
.bar nav a.selected, .bar span.menu a.selected {
  background: #515278;
  background: #515278;
  border-radius: 1rem;
  padding: 1px 4px;
  margin: 4px;
}
.bar .main-menu {
  width: 120px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px #444;
  display: block;
  background: #fff;
  display: none;
  width: 180px;
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 9999990;
}
.bar .main-menu.show {
  display: block;
}
.bar .main-menu span, .bar .main-menu a {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.bar .main-menu span:hover, .bar .main-menu a:hover {
  background: #eee;
}
.bar span.menu {
  float: right;
}
.bar a.menu {
  float: right;
  color: #fff;
  text-decoration: none;
  line-height: 36px;
  margin-right: 2rem;
  cursor: pointer;
}
.bar a.menu::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.preview {
  border: 1px solid rgba(8, 9, 36, 0.5);
  display: block;
  text-decoration: none;
  color: #000;
  text-align: left;
  position: relative;
  min-width: 0;
  box-sizing: border-box;
}
.preview .menu {
  font-size: 2.4rem;
  line-height: 0.5rem;
  height: 16px;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0 2px;
  transition: background 0.6s;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2.1rem;
}
.preview .menu:hover {
  background: rgba(0, 0, 0, 0.4);
}
.preview .menu-content {
  position: absolute;
  top: 25px;
  right: 5px;
}
.preview img {
  width: 100%;
  vertical-align: middle;
  max-height: 300px;
}
.preview div:first-of-type {
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.3869922969) 69%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}
.preview div:first-of-type .poi {
  float: right;
}
.preview button {
  top: 0;
  right: 0;
  position: absolute;
  border-radius: 0;
  border: 0;
}

.content-nav {
  width: 210px;
  height: calc(100vh - 37px);
  box-sizing: border-box;
  background-color: #515278;
}
.content-nav > div {
  overflow-x: auto;
  height: calc(100% - 35px);
}
.content-nav .panel-content {
  transition: height 0.5s;
  overflow: hidden;
}
.content-nav input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
}
.content-nav input:focus {
  outline: none;
}
.content-nav h3 {
  display: block;
  padding: 0.5rem;
  margin: 0;
  background: #080924;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}
.content-nav a {
  color: #fff;
  display: block;
  padding: 0.2rem;
  text-decoration: none;
  border-top: solid 1px #706f7e;
  font-size: 0.9rem;
}
.content-nav a:first-child {
  border-top: none;
}

.content-list {
  border: 1px solid rgba(8, 9, 36, 0.5);
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: 1rem;
}
.content-list header {
  background-color: #080924;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem;
  margin-bottom: 1rem;
}
.content-list header h2, .content-list header h1 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
}
.content-list footer {
  padding: 0 1rem 1rem 1rem;
  min-height: 2rem;
}
.content-list .row {
  margin: 0 1rem;
}

#map {
  width: calc(100vw - 200px);
  height: calc(100vh - 37px);
  margin: 0;
}

.menu-content {
  width: 120px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px #444;
  display: block;
  background: #fff;
  display: none;
}
.menu-content.show {
  display: block;
}
.menu-content span, .menu-content a {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.menu-content span:hover, .menu-content a:hover {
  background: #eee;
}

.panel {
  position: absolute;
  left: 210px;
  top: 37px;
  width: calc(100vw - 210px);
  height: calc(100vh - 37px);
  background: #fff;
  z-index: 999999;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: auto;
  box-shadow: none;
}
.panel.min {
  position: absolute;
  width: 31vw;
  min-width: 400px;
  height: calc(100vh - 110px);
  right: 20px;
  left: auto;
  top: 50px;
  box-shadow: 1px 1px 5px 2px #444;
}
.panel.min.hide {
  display: none;
}
.panel .menu {
  float: right;
  font-size: 2.4rem;
  line-height: 0.5rem;
  height: 16px;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0 2px;
  transition: background 0.6s;
}
.panel .menu:hover {
  background: rgba(0, 0, 0, 0.4);
}
.panel .entity-menu {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 120px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px #444;
  display: block;
  background: #fff;
  display: none;
}
.panel .entity-menu.show {
  display: block;
}
.panel .entity-menu span, .panel .entity-menu a {
  display: block;
  padding: 0.5rem;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.panel .entity-menu span:hover, .panel .entity-menu a:hover {
  background: #eee;
}
.panel header {
  margin-bottom: 1rem;
}
.panel header h2 {
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.panel .panel-block .controls {
  border-bottom: solid 1px #000;
  text-align: right;
  padding: 0.4rem 0;
  margin-bottom: 1rem;
}
.panel .panel-block a {
  font-weight: bold;
  color: blue;
  cursor: pointer;
}
.panel .panel-block a:hover {
  text-decoration: underline;
}
.panel .panel-block img {
  width: 100%;
  cursor: pointer;
}
.panel .panel-block blockquote {
  background: #fdeec3;
  margin: 0;
  padding: 0.2rem;
  border-top: solid 3px #e09f61;
  border-bottom: solid 3px #e09f61;
  box-shadow: 1px 1px 2px 1px #ccc;
}
.panel .panel-block p, .panel .panel-block blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

.badge {
  border: solid 1px #9495bf;
  display: inline-block;
  border-radius: 5px;
  padding: 0.2rem;
  line-height: 1rem;
}

.poi {
  border: solid 1px #9495bf;
  display: inline-block;
  border-radius: 5px;
  padding: 0.2rem;
  line-height: 1rem;
  background-image: url(../images/map/marker-icon-2x-blue.png);
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: 5px;
  padding-left: 22px;
  padding-right: 0.3rem;
  cursor: pointer;
}

textarea {
  width: 100%;
  line-height: 1.3rem;
  font-size: 1rem;
  min-height: 120px;
}

/*
padding:1rem;max-width:400px; margin:0 auto;
 */
.campaign-item {
  display: block;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 0;
}

button.add {
  margin: 0 auto;
  width: 200px;
  display: block;
}

button.editEntity {
  float: right;
}

.wrapper {
  display: flex;
}

.controls {
  text-align: center;
}